.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1em;
    background-color:rgb(231, 0, 19) ;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color: white
}